<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletNotes_Jtc-1</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    
  </welcome-file-list>
  
  <context-param>
   		<param-name>State</param-name>
   		<param-value>UttarPradesh</param-value>
   </context-param>
   
   <context-param>
   		<param-name>Country</param-name>
   		<param-value>India</param-value>
   </context-param>
   
   <servlet>
   		<servlet-name>test</servlet-name>
   		<servlet-class>com.jtcindia.p1.JtcServlet</servlet-class>
   		
   		<init-param>
   			<param-name>Email</param-name>
   			<param-value>som@jtcindia.org</param-value>
   		</init-param>
   		
   		<init-param>
   			<param-name>Phone</param-name>
   			<param-value>33333</param-value>
   		</init-param>
   		<load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet-mapping>
   		<servlet-name>test</servlet-name>
   		<url-pattern>/test.jtc</url-pattern>
   </servlet-mapping>
</web-app>